<div class="form-group <%= className %>">

    <label for="<%= name %>" class="property-label"><%= options.label %>
        <input type="checkbox" class="form-control" id="<%= name %>">
    </label>

</div>