<div class="<%= className %>">
    <div class="form-group">

        <label for="<%= name %>" class="property-label"><%= options.label %></label>

        <div class="input-group" data-format="yyyy-mm-dd">

            <input type="text" class="form-control">

            <div class="input-group-addon add-on">
                <a href="#"><i class="entypo-calendar"></i></a>
            </div>

        </div>

    </div>
</div>